<div class="row wrapper border-bottom white-bg page-heading">
    <div class="container">
        <h2>Resultados da busca</h2>
        <ol class="breadcrumb">
            <li>
                A busca por <b>{{ sc.search }}</b> retornou <b>5</b> resultados
            </li>
        </ol>
    </div>
</div>
<div class="container">
	<div class="wrapper wrapper-content">

		<div class="row">
			<div class="col-md-3">
				<div class="ibox-content m-b-sm border-bottom">
					<div class="ibox-title">
	                    <h5><i class="fa fa-tasks"></i> Filtrar resultados</h5>
	                </div>
					<div class="ibox-content profile-content">
						/FILTROS
					</div>
				</div>
			</div>

			<div class="col-md-9">

			    <div class="row" ng-repeat="item in sc.searchResponse">
			        <div class="col-lg-12">

			            <div class="ibox product-detail">
			                <div class="ibox-content">

			                    <div class="row">
			                        <div class="col-md-5">
			                        	<div class="thumbnail-img">
			                        		<img ng-src="{{ item.image }}" />
			                        	</div>                     	
			                        </div>
			                        <div class="col-md-7">

			                            <h2 class="font-bold m-b-xs">
			                                {{ item.title }}
			                            </h2>
			                            <small>{{ item.subtitle }}</small>
			                            <hr>
			                            <h4>Descrição da solução</h4>

			                            <div class="small text-muted">
			                                {{ item.description }}
			                            </div>

			                            <hr>

			                            <div>
			                                <div class="btn-group">
			                                    <button class="btn btn-info btn-sm"><i class="fa fa-tasks"></i> Detalhes da solução</button>
			                                    <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Favoritar</button>
			                                    <button class="btn btn-white btn-sm"><i class="fa fa-suitcase"></i> Detalhes da empresa</button>
			                                </div>
			                            </div>

			                        </div>
			                    </div>

			                </div>
			                <div class="ibox-footer">
			                    <span class="pull-right">
			                        Solução cadastrada em <b>{{ item.date }}</b>
			                    </span>
			                    Solução criada por <b>{{ item.empresa }}</b>
			                </div>
			            </div>

			        </div>
			    </div>

			</div>
		</div>


	</div>
</div>